<div class="container">

  <hr>

  <center>
    <h4>Participating Project Organizations</h4>

    <nobr>
      <img src="/assets/logos/Eclipse.svg" alt="Eclipse Foundation" width="200px"> &nbsp;&nbsp;
      <img src="/assets/logos/IBM.png" alt="IBM" width="200px"> &nbsp;&nbsp;
      <img src="/assets/logos/Keyman.png" alt="Keyman" width="200px">
    </nobr>

    <br /><br />

    <nobr>
      <img src="/assets/logos/Mozilla.png" alt="Mozilla" width="200px"> &nbsp;&nbsp;
      <img src="/assets/logos/Review Board.png" alt="Review Board" width="200px"> 
    </nobr>
  </center>

  <br /><br />

  <center>
    <h4>Participating Educational Institutions</h4>

    <nobr>
      <img src="/assets/logos/SFU.png" alt="Simon Fraser University" width="200px"> &nbsp;&nbsp;
      <img src="/assets/logos/UAlberta.png" alt="University of Alberta" width="200px"> &nbsp;&nbsp;
      <img src="/assets/logos/UBC.png" alt="University of British Columbia" width="200px">
    </nobr>
    
    <br /><br />
    
    <nobr>
      <img src="/assets/logos/UCalgary.png" alt="University of Calgary" width="200px">
    </nobr>
  </center>

  <br />

</div>