<div class="container">

  <hr>

  <center>
    <h4>Participating Project Organizations</h4>

    <nobr>
      <img src="/assets/logos/Eclipse.svg" alt="Eclipse Foundation" width="250px"> &nbsp;&nbsp;
      <img src="/assets/logos/IBM.png" alt="IBM" width="250px"> &nbsp;&nbsp;
      <img src="/assets/logos/Mozilla.jpg" alt="Mozilla" width="250px"> &nbsp;&nbsp;
    </nobr>
  </center>

  <br /><br />

  <center>
    <h4>Participating Educational Institutions</h4>

    <nobr>
      <img src="/assets/logos/SFU.png" alt="Simon Fraser University" width="250px"> &nbsp;&nbsp;
      <img src="/assets/logos/UAlberta.jpg" alt="University of Alberta" width="250px"> &nbsp;&nbsp;
    </nobr>
  </center>

  <br />

</div>